/* color palette from <https://github.com/vuejs/theme> */
:root {
  /* base colors */
  --neutral-white: #fff;
  --neutral-500: #566574;
  --neutral-700: #303E49;

  --primary-500: #1052E0;
  --primary-50: #EDF3FF;

  --system-success-500: #1E976C;

  /* semantic colors */
  --text-color: var(--neutral-500);
  --bg-color: var(--neutral-white);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--bg-color);
  line-height: 24px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}