// Color Tokens
$color-neutral-white: #ffffff;
$color-neutral-300: #a3acb6;
$color-neutral-500: #566574;
$color-neutral-700: #303e49;

$color-primary-500: #1052e0;
$color-primary-50: #edf3ff;

$color-success-500: #1e976c;

// Semantic colors
$color-text-primary: $color-neutral-500;
$color-bg-primary: $color-neutral-white;

// Media queries breakpoints
// small phones
$screen-xs: 375px;
$screen-xs-min: $screen-xs;

// landscape phones
$screen-sm: 576px;
$screen-sm-min: $screen-sm;

// tablets
$screen-md: 768px;
$screen-md-min: $screen-md;

// laptops, desktops
$screen-lg: 992px;
$screen-lg-min: $screen-lg;

// large desktops
$screen-xl: 1200px;
$screen-xl-min: $screen-xl;

// extra large desktops
$screen-xxl: 1600px;
$screen-xxl-min: $screen-xxl;

// provide a maximum
$screen-xs-max: ($screen-sm-min - 1px);
$screen-sm-max: ($screen-md-min - 1px);
$screen-md-max: ($screen-lg-min - 1px);
$screen-lg-max: ($screen-xl-min - 1px);
$screen-xl-max: ($screen-xxl-min - 1px);
